@import "_variables";

@import "./layouts/home";
@import "./layouts/presentation";
@import "./layouts/categories";
@import "./layouts/detail";

body {
  margin: 0;
  background-color: $color-secondary;
  font-family: $font-family-roboto;
}
