<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../styles/main.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Bibliografía</title>
  </head>
  <body class="detail-body">
    <h1>Bibliografía</h1>
    <p>
      Para el desarrollo de esta página debemos agradecer a todos los autores de
      las siguientes páginas web:
    </p>
    <ul class="detail-ul">
      <li>
        <a
          target="_blank"
          href="https://culturacolectiva.com/arte/las-obras-mas-importantes-de-leonardo-da-vinci/"
          >https://culturacolectiva.com/arte/las-obras-mas-importantes-de-leonardo-da-vinci/</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.biografiasyvidas.com/biografia/l/leonardo.htm"
          >https://www.biografiasyvidas.com/biografia/l/leonardo.htm</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.buscabiografias.com/biografia/verDetalle/65/Leonardo%20da%20Vinci"
          >https://www.buscabiografias.com/biografia/verDetalle/65/Leonardo%20da%20Vinci</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.pariscityvision.com/es/paris/museos/museo-louvre/gioconda-historia-misterios"
          >https://www.pariscityvision.com/es/paris/museos/museo-louvre/gioconda-historia-misterios</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.enflorencia.com/la-anunciacion-de-leonardo-da-vinci/"
          >https://www.enflorencia.com/la-anunciacion-de-leonardo-da-vinci/</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://historia-arte.com/obras/la-dama-del-armino"
          >https://historia-arte.com/obras/la-dama-del-armino</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://mymodernmet.com/es/leonardo-da-vinci-dama-del-armino-pintura/"
          >https://mymodernmet.com/es/leonardo-da-vinci-dama-del-armino-pintura/</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://es.wikipedia.org/wiki/Salvator_Mundi_(Leonardo_da_Vinci)"
          >https://es.wikipedia.org/wiki/Salvator_Mundi_(Leonardo_da_Vinci)</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.arteselecto.es/renacimiento/san-juan-bautista-leonardo-da-vinci/"
          >https://www.arteselecto.es/renacimiento/san-juan-bautista-leonardo-da-vinci/</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.milan-museum.com/es/ultima-cena-leonardo.php"
          >https://www.milan-museum.com/es/ultima-cena-leonardo.php</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.culturagenial.com/es/hombre-de-vitruvio-leonardo-da-vinci/"
          >https://www.culturagenial.com/es/hombre-de-vitruvio-leonardo-da-vinci/</a
        >
      </li>
    </ul>
    <a href="../index.html">Volver al menú de sus obras</a>
  </body>
</html>
