<div class="home">
  <div>
    <img src="./assets/images/ultima-cena.jpg" class="header__img" />
    <div class="header__text">
      <h1 class="header__text--title" id="title">Leonardo Da Vinci</h1>
      <p class="header__text--subtitle" id="subtitle">
        Descúbrelo todo sobre el genio italiano
      </p>
    </div>
    <script type="text/javascript" src="./scripts/title-animation.js"></script>
  </div>
  <div class="home__presentation">
    <h2 class="home__presentation--title">
      La vida y obra de Leonardo Da Vinci
    </h2>
    <p class="home__presentation--text">
      Admirado a día de hoy por miles de personas, el artista e ingeniero
      Leonardo Da Vinci no deja indiferente a nadie. Desde sus pinturas que
      fascinan y incitan a la imaginación a divagar sobre los misterios que las
      rodean, hasta los diseños arquitectónicos e ingenieriles tan avanzados
      para su época, no hay otra palabra para categorizarlo sino genio.
    </p>
    <p class="home__presentation--text">
      En esta página podrás descubrir su vida y obra y fascinarte ante la
      cantidad de cosas que Da Vinci realizó a lo largo de su vida.
    </p>
  </div>
  <nav>
    <a>
      <div></div>
    </a>
  </nav>
</div>
