.categories-body {
  padding: 20px 40px 40px;
  min-height: 80vh;
}

.categories-nav {
  display: flex;
  flex-direction: column;
  .categories-link {
    // width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: $color-primary;
    box-shadow: 1px 1px 6px black;
    color: white;
    text-decoration: none;
    font-size: 18px;

    a {
      text-decoration: none;
      color: #fff;

      @media (max-width: $desktop-min-width) {
        font-size: 15px;
      }
    }

    a:hover {
      cursor: pointer;
    }
  }
}

.back-to-menu-categories {
  margin-top: 20px;
}

.miniature-img {
  width: 40px;
  max-height: 40px;
  padding-left: 20px;
  object-fit: contain;
}
