.detail-body {
  padding: 20px 30px 100px 30px;
  text-align: justify;
  min-height: 80vh;
}

.detail-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.detail-img {
  object-fit: cover;
}

.detail-img-caption {
  margin-top: 10px;
  font-style: italic;
  font-size: 13px;
}

.detail-ul li {
  margin: 10px 0;
}

.logo-img {
  width: 150px;
}
