.home {
  text-align: center;
  font-family: $font-family-roboto;
  background-color: $color-secondary;
}

$height-mobile: 650px;
$height-desktop: 400px;
$font-size-mobile: 80px;

.header__img {
  height: $height-mobile;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.header__text {
  position: absolute;
  width: 100%;
  top: calc($height-mobile / 2 - $font-size-mobile / 2);
  text-align: center;

  .header__text--title {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: $font-size-mobile;
    color: white;
  }

  .header__text--subtitle {
    color: white;
    margin: 0;
    font-size: 35px;
    font-style: italic;
  }
}

.home__presentation {
  padding: 30px 100px 100px;
  $text-color: black;

  .home__presentation--title {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 50px;
    margin-top: 30px;
    color: $text-color;
  }

  .home__presentation--text {
    text-align: justify;
    font-size: 15px;
    color: $text-color;
  }
}

.navigation-block {
  box-sizing: content-box;
  position: relative;
  margin: 0;
  border-width: 2px;
  border-style: solid;
  border-color: $color-tertiary;
  .navigation-block__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }

  $title-size: 70px;

  .navigation-block__title {
    width: 100%;
    position: absolute;
    top: calc(50% - $title-size * 1.5);
    text-align: center;

    .navigation-block__title--text {
      font-size: $title-size;
    }
  }
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

a:hover {
  cursor: pointer;
}
