.home {
  text-align: center;
}

$height-mobile: 300px;
$height-desktop: 400px;
$font-size-mobile: 30px;
$font-size-desktop: 50px;
$font-size-mobile-subtitle: 20px;
$font-size-desktop-subtitle: 30px;

.header__img {
  height: $height-mobile;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
  clip-path: ellipse(100% 80% at 2% 10%);

  @media (min-width: $desktop-min-width) {
    height: $height-desktop;
  }
}

.header__text {
  position: absolute;
  min-width: 100%;
  top: calc($height-mobile / 2 - $font-size-mobile/ 2);
  text-align: center;

  @media (min-width: $desktop-min-width) {
    top: calc($height-desktop / 2 - $font-size-desktop/ 2);
  }

  .header__text--title {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: $font-size-mobile;
    color: white;

    @media (min-width: $desktop-min-width) {
      font-size: $font-size-desktop;
    }
  }

  .header__text--subtitle {
    color: white;
    margin: 0;
    font-size: $font-size-mobile-subtitle;
    font-style: italic;

    @media (min-width: $desktop-min-width) {
      font-size: $font-size-desktop-subtitle;
    }
  }
}

.home__presentation {
  padding: 5px 40px 40px;
  $text-color: black;

  .home__presentation--title {
    font-size: 22px;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 30px;
    color: $text-color;
  }

  .home__presentation--text {
    text-align: justify;
    font-size: 19px;
    color: $text-color;
  }
}

@media (min-width: $desktop-min-width) {
  .nav {
    display: flex;
    flex-direction: row;
  }
}

.navigation-block {
  box-sizing: content-box;
  position: relative;
  margin: 0;
  border-width: 2px;
  border-style: solid;
  border-color: $color-tertiary;

  @media (min-width: $desktop-min-width) {
    width: calc(100vw / 3);
    height: 300px;
  }

  .navigation-block__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }

  $title-size-mobile: 25px;
  $title-size-desktop: 30px;

  .navigation-block__title {
    width: 100%;
    position: absolute;
    top: calc(50% - $title-size-mobile * 1.5);
    text-align: center;

    @media (min-width: $desktop-min-width) {
      top: calc(50% - $title-size-desktop * 1.5);
    }

    .navigation-block__title--text {
      font-size: $title-size-mobile;

      @media (min-width: $desktop-min-width) {
        font-size: $title-size-desktop;
      }
    }
  }
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.nav-link:hover {
  cursor: pointer;
}
