.presentation-body {
  padding: 50px;
  text-align: justify;
}

$img-size: 200px;
.presentation-image {
  width: $img-size;
  height: $img-size;
  border-radius: calc($img-size/2);
  object-fit: cover;
}

.presentation-header {
  text-align: left;
}

.presentation-text {
  font-size: 17px;
}

#fade-in-img {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
