<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../styles/main.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="preload"
      as="style"
    />
    <title>La Anunciación</title>
  </head>
  <body>
    <include src="./src/views/detail/detail_header.html"></include>
    <div class="detail-body">
      <h1>La Anunciación</h1>
      <p>
        La Anunciación es una pintura realizada por el genio Leonardo en la
        década de 1470 en Florencia. Conservada en la Galería Uffizi, la obra
        ocupa un lugar de gran importancia en el museo, a su vez uno de los más
        destacados de Italia y del mundo. La Anunciación de Leonardo da Vinci ha
        sido objeto de numerosos estudios por su increíble técnica, su
        meticulosidad y cuidado del detalle, las novedades aportadas a la
        pintura de la época y, por supuesto, a su tremenda belleza.
      </p>
      <figure class="detail-figure">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="../../assets/images/anunciacion-mobile.webp"
          />
          <source
            media="(min-width: 769px) and (max-width: 1200px)"
            srcset="../../assets/images/anunciacion-tablet.webp"
          />
          <source
            media="(min-width: 1201px)"
            srcset="../../assets/images/anunciacion-desktop.webp"
          />
          <img
            src="../../assets/images/anunciacion-desktop.webp"
            class="detail-img"
            alt="Cuadro la Anunciación"
          />
        </picture>
        <figcaption class="detail-img-caption">La Anunciación</figcaption>
      </figure>
      <p>
        Contrariamente a su nombre, la pintura tiene una historia para nada
        anunciada. De hecho, se le atribuye a Leonardo en el siglo XIX, 400 años
        más tarde de haberla creado. Es más, en un primer momento la opinión más
        aceptada era que la pintura había sido obra de Andrea del Verrocchio,
        maestro de Leonardo da Vinci. Por su datación (1472-1475) sabemos que
        fue uno de los primeros encargos recibidos por un da Vinci muy joven, de
        unos 20 años. En aquel entonces, Leonardo formaba parte todavía del
        taller de su maestro el Verrocchio, por lo que ser capaz de realizar una
        pintura como La Anunciación puede sólo despertar nuestro estupor y
        admiración. Una demostración del genio de da Vinci.
      </p>
      <p>
        En la Anunciación de Leonardo da Vinci se muestra al ángel Gabriel
        anunciándole a la Virgen su cometido como madre de Jesús. La escena
        sucede en el exterior, algo con lo que Leonardo rompe de nuevo las
        tradiciones. María es representada como una jovencísima y bella dama,
        rubia. La Virgen está en su jardín, donde se ve la entrada a su casa con
        una puerta que deja entrever un lecho. La joven se encuentra leyendo,
        sentada en un sillón cubierto por sus ropajes. Unos ropajes que cubren
        el reposabrazos y que dejan ver su forma gracias a la delicada técnica
        de Leonardo. En la Anunciación, la Virgen recibe al ángel Gabriel y su
        noticia con gran serenidad, alzando su mano izquierda hacia el ser
        celestial a modo de saludo y aceptación de su papel en la historia. A
        diferencia de otras representaciones de esta escena, da Vinci muestra a
        una Virgen activa y protagonista, no simplemente aceptando su papel sino
        tomando parte en la decisión. Activa y no sumisa ante el encargo divino.
      </p>
      <p>
        El rostro del ángel está lleno de expresión y sentimiento. En él se lee
        el peso del ángel ante tan importante responsabilidad que, con su
        noticia, recae en la joven que la recibe con confianza y seriedad. El el
        rostro de Gabriel vemos también respeto, admiración incluso hasta la
        Virgen. Casi timidez en la forma en que inclina su cabeza y mira hacia
        la Virgen. Aunque también mucha decisión. En los objetos, Leonardo
        vuelve a demostrar unas habilidades magníficas. Todavía más resaltables
        al conocer la temprana edad a la que pintó la obra. El sarcófago, los
        ropajes de los protagonistas, el libro y cualquier parte y gesto de los
        personajes representados tienen un nivel de detalle y realismo
        impresionantes. Además, da Vinci aplica una técnica que le atraía y
        estudiaba continuamente. Ésta consistía en mostrar con algo menos de
        detalle los objetos más alejados. En la Anunciación podemos verlo en el
        sarcófago, que muestra una nitidez y detalle mayores que el apoyo del
        libro sobre él, un poco más alejado.
      </p>
      <h2>Lo más importante:</h2>
      <ul class="detail-ul">
        <li>La Anunciación es de las primeras obras de Leonardo.</li>
        <li>Es la anunciación del ángel Gabriel a la Virgen de su cometido.</li>
        <li>
          Contiene muchas sutilezas escondidas que demuestran la genialidad de
          Da Vinci.
        </li>
      </ul>
      <a href="../../categories.html">Volver al menú de sus obras</a>
      <p>En colaboración con:</p>
      <img
        srcset="
          ../../assets/images/logo_aelv_400w.png,
          ../../assets/images/logo_aelv_600w.png 1.5x,
          ../../assets/images/logo_aelv_800w.png 2x
        "
        src="../../assets/images/logo_aelv_800w.png"
        class="logo-img"
        alt="Logo de los Amigos de Europa Leonardo Da Vinci"
        loading="lazy"
      />
      <img
        srcset="
          ../../assets/images/asodavinci_400w.png,
          ../../assets/images/asodavinci_600w.png 1.5x,
          ../../assets/images/asodavinci_800w.png 2x
        "
        src="../../assets/images/asodavinci_800w.png"
        class="logo-img"
        alt="Logo de Asodavinci"
        loading="lazy"
      />
    </div>
    <include src="./src/views/detail/detail_footer.html"></include>
  </body>
</html>
