<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../styles/main.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>La Dama del armiño</title>
  </head>
  <body>
    <include src="./src/views/detail/detail_header.html"></include>

    <div class="detail-body">
      <h1>La Dama del armiño</h1>
      <p>
        El maestro renacentista Leonardo da Vinci produjo una gran cantidad de
        obras artísticas y científicas. Desde sus numerosos cuadernos llenos de
        bocetos hasta enormes frescos bíblicos y pinturas al óleo, hay mucho que
        explorar en su trabajo. Por ejemplo, el retrato que precedió la creación
        de la famosa Mona Lisa a menudo queda relegado de la lista de obras
        maestras de Da Vinci. Titulada La dama del armiño, esta pintura al óleo
        es un magnífico ejemplo de un retrato del Alto Renacimiento pintado en
        el estilo de claroscuro. El cuadro representa a una mujer joven con el
        cabello recogido que sostiene en sus brazos una gran comadreja blanca
        (también llamada armiño). Aunque este cuadro muestra a la perfección el
        interés de Da Vinci por el realismo anatómico, también utiliza el armiño
        como símbolo con significados relacionados con el sujeto de su retrato y
        su mecenas.
      </p>
      <figure class="detail-figure">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="../../assets/images/mujer-armiño-mobile.jpg"
          />
          <source
            media="(min-width: 769px) and (max-width: 1200px)"
            srcset="../../assets/images/mujer-armiño-tablet.jpg"
          />
          <source
            media="(min-width: 1201px)"
            srcset="../../assets/images/mujer-armiño-desktop.jpg"
          />
          <img
            src="../../assets/images/mujer-armiño-desktop.jpg"
            class="detail-img"
            alt="El cuadro la Dama del armiño"
          />
        </picture>
        <figcaption class="detail-img-caption">La Dama del armiño</figcaption>
      </figure>
      <p>
        Da Vinci recibió el encargo para pintar La dama del armiño de quien
        había sido su mecenas durante 10 años, Ludovico Sforza, duque de Milán
        (él también encargó el mural de La última cena). El sujeto del retrato
        es la amante de 16 años de Sforza, Cecilia Gallerani. La joven está
        representada de la cintura para arriba con un vestido azul y rojo
        adornado con mangas largas, un collar de cuentas negras y un peinado
        recogido. En sus brazos sostiene un armiño blanco. Como todos los
        cuadros de Da Vinci, el retrato de Gallerani muestra un compromiso con
        el naturalismo. Esto es evidente en el modelado del rostro de la mujer,
        el pecho y, especialmente, la mano izquierda que acuna al animal.
        También está hecho en claroscuro, una técnica que enfatiza las luces y
        sombras para crear profundidad visual.
      </p>
      <p>
        Muchas personas han señalado que el armiño blanco es demasiado grande
        para ser anatómicamente exacto; esto sería un error inusual para un
        artista y científico como Da Vinci, que era un gran admirador de la vida
        silvestre. Sin embargo, los historiadores lo atribuyen a la función
        simbólica de la criatura. Por un lado, el armiño, con su pelaje blanco e
        invernal, se consideraba un símbolo de pureza. Da Vinci estaba fascinado
        por el animal, y realizó varios dibujos del mismo en la misma época que
        el retrato. Uno de estos bocetos muestra a un armiño rindiéndose ante un
        cazador como representación de estos ideales virtuosos. Al hacer que el
        sujeto sostenga un armiño blanco, Da Vinci hacía referencia a la pureza
        de la mujer.
      </p>
      <p>
        Además, el armiño tiene un significado para el mecenas del retrato,
        Ludovico Sforza, que era llamado el “armiño blanco” por su afiliación a
        la Orden del Armiño. Así pues, al hacer que la retratada sostenga al
        animal, el cuadro confirma su relación romántica. También se especula
        que el armiño podría ser un juego de palabras con el apellido del
        personaje, Gallerani, que está relacionado con la palabra griega para
        armiño, galê (γαλῆ).
      </p>
      <h2>Lo más importante:</h2>
      <ul class="detail-ul">
        <li>
          Ludovico Sforza encargó este cuadro a Da Vinci, entre otros muy
          conocidos.
        </li>
        <li>
          Este cuadro muestra el interés anatómico de Da Vinci, a la vez que su
          interés en lo simbólico.
        </li>
        <li>El armiño blanco referencia la pureza de la mujer.</li>
      </ul>
      <a href="../../categories.html">Volver al menú de sus obras</a>
      <p>En colaboración con:</p>
      <img
        srcset="
          ../../assets/images/logo_aelv_400w.png,
          ../../assets/images/logo_aelv_600w.png 1.5x,
          ../../assets/images/logo_aelv_800w.png 2x
        "
        src="../../assets/images/logo_aelv_800w.png"
        class="logo-img"
        alt="Logo de los Amigos de Europa Leonardo Da Vinci"
        loading="lazy"
      />
      <img
        srcset="
          ../../assets/images/asodavinci_400w.png,
          ../../assets/images/asodavinci_600w.png 1.5x,
          ../../assets/images/asodavinci_800w.png 2x
        "
        src="../../assets/images/asodavinci_800w.png"
        class="logo-img"
        alt="Logo de Asodavinci"
        loading="lazy"
      />
    </div>
    <include src="./src/views/detail/detail_footer.html"></include>
  </body>
</html>
