<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../styles/main.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>La Mona Lisa</title>
  </head>
  <body>
    <include src="./src/views/detail/detail_header.html"></include>
    <div class="detail-body">
      <h1>La Mona Lisa</h1>
      <p>
        La Gioconda o Mona Lisa es uno de los retratos más emblemáticos de la
        historia de la pintura. Pintado por Leonardo Da Vinci en el siglo XVI,
        entró a las colecciones de la corte de Francia para finalmente formar
        parte de las obras de Arte exhibidas en el Museo del Louvre.
      </p>
      <figure class="detail-figure">
        <img
          src="../../assets/images/mona-lisa.jpg"
          class="detail-img"
          alt="La Mona Lisa"
        />
        <figcaption class="detail-img-caption">La Mona Lisa</figcaption>
      </figure>
      <p>
        Se dice que Leonardo Da Vinci habría llevado el retrato de la Gioconda
        consigo cuando fue invitado a Francia por el rey Francisco I. La
        historia cuenta que el artista y científico italiano tenía el retrato
        femenino durante su estancia en el castillo de Clos Lucé (conocido
        también como mansión de Cloux), cerca de Amboise (castillo del Loira).
        Desde entonces, la Gioconda formó parte de las colecciones reales y fue
        exhibida en el castillo de Versalles durante el reinado de Luis XIV.
        Llegó al Louvre en 1797.
      </p>
      <p>
        La técnica de composición de la Gioconda hace que esta sea una de las
        obras más estudiadas de la historia del arte y por los artistas
        aprendices. Es apreciada por su encuadre muy moderno, como un retrato
        que se podría realizar en nuestros días. Más sutilmente, se crean
        efectos ópticos por la ubicación de los ojos de la joven y su sonrisa
        discreta. Hay quienes dicen que se siente la impresión de ser observado
        constantemente por la Gioconda, cualquiera sea la posición desde la que
        uno la mire. Esta anécdota demuestra los conocimientos científicos y
        anatómicos de Leonardo Da Vinci. En cuanto a la célebre sonrisa de la
        Mona Lisa, hay testimonios de que un grupo de músicos tocaba durante las
        horas de trabajo del pintor para que ella mantuviese esa actitud alegre.
        El fondo también es un caso de estudio. La técnica del sfumato se
        utiliza para crear una perspectiva que se funde con suavidad.
      </p>
      <p>
        Sin duda, esos misterios hicieron que la Mona Lisa llegara a ser tan
        famosa. Sin embargo, ¿es verdaderamente Lisa la retratada? Se ha
        informado que el patrocinador del cuadro de Leonardo Da Vinci era un
        noble instalado en Florencia. Francesco del Giocondo enviudó dos veces y
        en 1495 se casó con una joven llamada Lisa. De esta historia surge el
        nombre con el que se conoce a este pequeño cuadro de 77 x 53 cm. Según
        otra teoría, la joven representada era una favorita de Juliano de
        Médici, dirigente de la República florentina. Hasta hoy, el misterio
        sigue sin resolverse. La Gioconda se hizo popular para el público en
        general por la amplia difusión de su robo, en 1911. La prensa cubrió el
        hecho: se preguntaba quién podría haber robado la Gioconda, por qué y,
        sobre todo, ¡cómo! El cuadro se recuperó; el culpable era un italiano
        muy chauvinista llamado Vincenzo Peruggia. Su acto se basó en su deseo
        de restituir la obra a su país natal.
      </p>
      <h2>Lo más importante:</h2>
      <ul class="detail-ul">
        <li>La Mona Lisa es conocida como la Gioconda.</li>
        <li>Es una de las obras más importantes de Da Vinci.</li>
        <li>Está exhibida en el Louvre.</li>
        <li>El misterio envuelve a esta obra por su dudoso origen.</li>
      </ul>
      <a href="../../categories.html">Volver al menú de sus obras</a>
    </div>
    <include src="./src/views/detail/detail_footer.html"></include>
  </body>
</html>
