<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../styles/main.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Salvator Mundi</title>
  </head>
  <body>
    <include src="./src/views/detail/detail_header.html"></include>
    <div class="detail-body">
      <h1>Salvator Mundi</h1>
      <p>
        Salvator Mundi es una pintura de Cristo como Salvator Mundi («Cristo
        como salvador del mundo») atribuida a Leonardo da Vinci, datada en torno
        al año 1500. Conocida como versión Cock, por el nombre de un antiguo
        propietario, ha sido atribuida también, entre otros, a Bernardino Luini
        y a Giovanni Antonio Boltraffio. La pintura muestra a Cristo, con un
        vestido renacentista, impartiendo la bendición con la mano derecha
        mientras sostiene una esfera de roca cristalina en su mano izquierda,
        imagen de la esfera celestial con la que era simbolizado su papel como
        salvador del mundo y maestro del cosmos. Alrededor de otras veinte
        versiones de la obra son conocidas y se atribuyen a estudiantes y
        seguidores de Leonardo. En la Royal Collection se guardan dibujos
        preparatorios con tiza y tinta de Leonardo.
      </p>
      <figure class="detail-figure">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="../../assets/images/salvator-mundi-mobile.jpg"
          />
          <source
            media="(min-width: 769px) and (max-width: 1200px)"
            srcset="../../assets/images/salvator-mundi-tablet.jpg"
          />
          <source
            media="(min-width: 1201px)"
            srcset="../../assets/images/salvator-mundi-desktop.jpg"
          />
          <img
            src="../../assets/images/salvator-mundi-desktop.jpg"
            class="detail-img"
            alt="El cuadro Salvator Mundi"
          />
        </picture>
        <figcaption class="detail-img-caption">Salvator Mundi</figcaption>
      </figure>
      <p>
        La pintura muestra a Cristo como rey y salvador del mundo; se representa
        de frente, sosteniendo una esfera transparente que simboliza la
        totalidad del cosmos, esto es, la esfera de las estrellas fijas que es
        lo máximo a lo que alcanza la vista humana. En otras versiones del
        cuadro, sostiene un globo terráqueo en lugar de la esfera. Con la otra
        mano, hace el gesto de la bendición latina.
      </p>
      <p>
        En 2011, por decisión consensuada, facilitada por el director de la
        National Gallery Nicholas Penny, se confirmó la atribución de Leonardo
        da Vinci. En julio de 2011, el representante de publicidad de los
        propietarios y la National Gallery publicaron sendos comunicados de
        prensa en los que anunciaban oficialmente el "nuevo descubrimiento".
      </p>
      <p>
        Una vez limpiado y restaurado, el cuadro fue comparado con otras veinte
        versiones de Salvator Mundi, y encontrado superior a ellas fue expuesto
        por la The National Gallery de Londres durante el Leonardo da Vinci:
        Pintor en la Corte de Milán desde noviembre de 2011 a febrero de 2012.
        Varios rasgos de la pintura han dado lugar a la atribución positiva:
        varios pentimento son evidentes, sobre todo la posición del pulgar
        derecho. El efecto Esfumato del rostro —evidentemente logrado en parte
        manipulando la pintura con el talón de la mano— es típico de muchas
        obras de Leonardo. La forma en que se han manejado los anillos de pelo y
        el nudo a través de la estola también se ve como indicativo del estilo
        de Leonardo. Además, los pigmentos y el panel de nogal sobre los que se
        ejecutó la obra coinciden con otras pinturas de Leonardo. Además, las
        manos de la pintura son muy detalladas, algo que es conocido por
        Leonardo: diseccionaba las extremidades del difunto para estudiarlas y
        hacer que las partes del cuerpo fueran extremadamente vivas.
      </p>
      <h2>Lo más importante:</h2>
      <ul class="detail-ul">
        <li>No se atribuyó la obra a Leonardo inicialmente.</li>
        <li>Se revalorizó con el tiempo.</li>
        <li>Contiene muchas trazas del estilo de Leonardo.</li>
      </ul>
      <a href="../../categories.html">Volver al menú de sus obras</a>
      <p>En colaboración con:</p>
      <img
        srcset="
          ../../assets/images/logo_aelv_400w.png,
          ../../assets/images/logo_aelv_600w.png 1.5x,
          ../../assets/images/logo_aelv_800w.png 2x
        "
        src="../../assets/images/logo_aelv_800w.png"
        class="logo-img"
        alt="Logo de los Amigos de Europa Leonardo Da Vinci"
        loading="lazy"
      />
      <img
        srcset="
          ../../assets/images/asodavinci_400w.png,
          ../../assets/images/asodavinci_600w.png 1.5x,
          ../../assets/images/asodavinci_800w.png 2x
        "
        src="../../assets/images/asodavinci_800w.png"
        class="logo-img"
        alt="Logo de Asodavinci"
        loading="lazy"
      />
    </div>
    <include src="./src/views/detail/detail_footer.html"></include>
  </body>
</html>
