<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../styles/main.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>San Juan Bautista</title>
  </head>
  <body>
    <include src="./src/views/detail/detail_header.html"></include>
    <div class="detail-body">
      <h1>San Juan Bautista</h1>
      <p>
        No cabe duda de que la Mona Lisa o Gioconda, encumbrada como la obra más
        famosa de todos los tiempos, es un buen retrato. El halo de misterio que
        la rodea, ya sea por su ambigua sonrisa, desconocida identidad, el robo
        que sufrió a principio de siglo o el propio misticismo creado alrededor
        de su autor, Leonardo Da Vinci, todos esos ingredientes juntos, han
        hecho de ella un símbolo pictórico universal, reconocible por casi
        cualquiera. Ahora bien, incluso dentro de la no muy extensa producción
        plástica del autor italiano hay que reconocer obras superiores, como el
        caso que nos ocupa. Porque si tan misteriosa es la sonrisa de la Mona
        Lisa, entonces ¿Cuánto lo es la de este San Juan Bautista?
      </p>
      <figure class="detail-figure">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="../../assets/images/san-juan-bautista-mobile.jpg"
          />
          <source
            media="(min-width: 769px) and (max-width: 1200px)"
            srcset="../../assets/images/san-juan-bautista-tablet.jpg"
          />
          <source
            media="(min-width: 1201px)"
            srcset="../../assets/images/san-juan-bautista-desktop.jpg"
          />
          <img
            src="../../assets/images/san-juan-bautista-desktop.jpg"
            class="detail-img"
            alt="El cuadro San Juan Bautista"
          />
        </picture>
        <figcaption class="detail-img-caption">San Juan Bautista</figcaption>
      </figure>
      <p>
        Primeramente, hay que conocer al personaje de la que trata la obra. San
        Juan Bautista era un profeta ambulante judío que utilizaba el bautismo
        como elemento central de su actividad mesiánica. Predijo la llegada de
        Jesucristo, al que reconoció como el salvador y bautizó en las aguas del
        río Jordán, para pasar a “disminuir” ante él, según palabras textuales,
        ya que su misión central había sido cumplida. Era un hombre “recto y
        sagrado”, completamente entregado a su labor, del que se dice que vagaba
        por el desierto, vistiendo pieles, con aspecto desarrapado y
        alimentándose de las alimañas que encontraba en su camino.
        Efectivamente, San Juan encarna la humildad, debido a que cede
        completamente ante Cristo, conocedor de sus limitaciones y debilidades
        ante algo netamente superior.
      </p>
      <p>
        Sin embargo, ¿Por qué Leonardo nos presenta a San Juan Bautista como un
        efebo andrógino, en contraposición al hombre recto y sagrado precursor
        de Jesucristo? ¿Por qué prescinde del típico fondo en plena naturaleza
        que suele acompañar a la figura en otras representaciones, para pasar a
        envolverlo en la oscuridad? ¿Por qué esa sonrisa ambigua, a mi parecer
        más expresiva que la de la Gioconda, y la expresión, casi ebria, con los
        ojos bizcos, de su rostro? Situando la obra en su contexto, no me
        negaran que es toda una provocación, más si cabe sabiendo que es una de
        las últimas obras de Leonardo. Pasemos a detenernos en las incógnitas.
        Se dice que las pieles que se enrollan en su cuerpo y la cruz fueron
        agregadas más tarde. No sería de extrañar, ya que así se proporcionó a
        la obra de un toque más académico y menos provocador. También
        explicaría, a mi parecer, la posición poco natural de la cruz. Por otro
        lado, si bien en primera instancia la obra puede percibirse como la
        total encarnación del concepto de humildad, presentando a un San Juan
        Bautista completamente desnudo, puro, dando paso con alegría y
        sinceridad (apoya su mano izquierda en el corazón) al mesías que
        esperaba mientras señala al cielo, recalcando así que la escena es un
        designio divino; es su sonrisa, esa sonrisa, ejecutada con maestría por
        el autor, la que desbarata todo lo anteriormente dicho para hacer volar
        la imaginación y llevarnos a elucubrar sobre los más diversos
        significados.
      </p>
      <p>
        Porque, ¿Quién nos puede contradecir la idea de ver en este rostro el
        personaje nos invita a pensar que el cielo, al que señala, no existe y
        que es el hombre, la mano descansa en el pecho, recientemente “renacido”
        por propagación de las ideas humanistas, como el centro de todo,
        precursor de los sentimientos ateístas modernos? Su faz irónica, desde
        luego, no hacen más que confundir al observador. Sin duda ayuda al
        misterio de la obra la técnica pictórica del sfumato, que envuelve a la
        silueta de esa apariencia difuminada en sus bordes, creando un efecto de
        espectro surgido de entre las tinieblas, tan usado por Leonardo Da
        Vinci. Ésta técnica favorecería otras como el tenebrismo y el
        claroscuro, llevadas a su máxima expresión por autores como Caravaggio.
      </p>
      <h2>Lo más importante:</h2>
      <ul class="detail-ul">
        <li>
          La obra muestra a un San Juan Bautista distinto al de la Bíblia.
        </li>
        <li>
          Toda la obra tiene un misterio a su alrededor, igual que la Gioconda.
        </li>
      </ul>
      <a href="../../categories.html">Volver al menú de sus obras</a>
      <p>En colaboración con:</p>
      <img
        srcset="
          ../../assets/images/logo_aelv_400w.png,
          ../../assets/images/logo_aelv_600w.png 1.5x,
          ../../assets/images/logo_aelv_800w.png 2x
        "
        src="../../assets/images/logo_aelv_800w.png"
        class="logo-img"
        alt="Logo de los Amigos de Europa Leonardo Da Vinci"
        loading="lazy"
      />
      <img
        srcset="
          ../../assets/images/asodavinci_400w.png,
          ../../assets/images/asodavinci_600w.png 1.5x,
          ../../assets/images/asodavinci_800w.png 2x
        "
        src="../../assets/images/asodavinci_800w.png"
        class="logo-img"
        alt="Logo de Asodavinci"
        loading="lazy"
      />
    </div>
    <include src="./src/views/detail/detail_footer.html"></include>
  </body>
</html>
