<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../styles/main.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="preload"
      as="style"
    />
    <title>La última cena</title>
  </head>
  <body>
    <include src="./src/views/detail/detail_header.html"></include>
    <div class="detail-body">
      <h1>La última cena</h1>
      <p>
        La Última Cena de Leonardo da Vinci (Cenacolo Vinciano) es una de las
        pinturas más famosas del mundo, la obra fue pintada entre 1494 y 1498
        bajo el gobierno de Ludovico el Moro y representa la última "cena" entre
        Jesús y sus discípulos.
      </p>
      <figure class="detail-figure">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="../../assets/images/ultima-cena-mobile.webp"
          />
          <source
            media="(min-width: 769px) and (max-width: 1200px)"
            srcset="../../assets/images/ultima-cena-tablet.webp"
          />
          <source
            media="(min-width: 1201px)"
            srcset="../../assets/images/ultima-cena-desktop.webp"
          />
          <img
            src="../../assets/images/ultima-cena-desktop.webp"
            class="detail-img"
            alt="El cuadro La Última Cena"
          />
        </picture>
        <figcaption class="detail-img-caption">La última cena</figcaption>
      </figure>
      <p>
        Para la creación de esta obra única, Leonardo realizó una investigación
        exhaustiva creando una infinidad de bocetos preparatorios. Leonardo
        abandona el método tradicional de la pintura al fresco, pintando la
        escena "al seco" en la pared del refectorio. Se han encontrado rastros
        de láminas metálicas de oro y plata que son testimonio de la voluntad
        del artista de hacer las figuras de una manera mucho más realista
        incluyendo detalles preciosos. Después de haber terminado, se demostró
        que los factores de la técnica y el medio ambiente contribuyeron al
        eventual deterioro del fresco, que ha sido objeto de numerosas
        restauraciones. La restauración más reciente fue en 1999 donde varios
        métodos científicos fueron empleados para restaurar los colores
        originales y en lo posible, para eliminar los rastros de pintura
        aplicada en anteriores intentos de restaurar el fresco.
      </p>
      <p>
        La Última Cena de Leonardo se encuentra en su primera ubicación, en la
        pared del comedor del antiguo convento dominico de Santa Maria delle
        Grazie, exactamente en el refectorio del convento y es una de las obras
        más célebres y conocidas del mundo. "La última cena" de Leonardo da
        Vinci es una enorme pintura de 4.60 metros de altura y 8.80 metros de
        ancho y fue realizada con témpera y óleo sobre una preparación de yeso
        en lugar de la técnica comúnmente utilizada a la época del fresco.
        Actualmente se han implementado muchas medidas para proteger la pintura
        del deterioro. Para asegurarse de que el fresco se mantenga a
        temperatura ambiente, desde la restauración, el ingreso de los
        visitantes se ha restringido a un grupo de 25 personas cada 15 minutos.
      </p>
      <p>
        La Última Cena de Leonardo da Vinci es sin duda uno de las más
        importantes obras de arte de todos los tiempos, tanto por su carga
        innovadora que por el impacto que tuvo y ha tenido en los artistas de
        todas las edades. Esta magnífica obra de arte ha sido vista por los
        artistas contemporáneos de Leonardo como "la pintura que habla", una
        cosa que no había sucedido nunca antes.
      </p>
      <h2>Lo más importante:</h2>
      <ul class="detail-ul">
        <li>
          La pintura representa la última cena de Jesús con sus discípulos.
        </li>
        <li>
          Debido a la manera en la que se pintó, se ha deteriorado mucho con el
          paso del tiempo.
        </li>
        <li>Es admirada por artistas alrededor del mundo.</li>
      </ul>
      <a href="../../categories.html">Volver al menú de sus obras</a>
      <p>En colaboración con:</p>
      <img
        srcset="
          ../../assets/images/logo_aelv_400w.png,
          ../../assets/images/logo_aelv_600w.png 1.5x,
          ../../assets/images/logo_aelv_800w.png 2x
        "
        src="../../assets/images/logo_aelv_800w.png"
        class="logo-img"
        alt="Logo de los Amigos de Europa Leonardo Da Vinci"
        loading="lazy"
      />
      <img
        srcset="
          ../../assets/images/asodavinci_400w.png,
          ../../assets/images/asodavinci_600w.png 1.5x,
          ../../assets/images/asodavinci_800w.png 2x
        "
        src="../../assets/images/asodavinci_800w.png"
        class="logo-img"
        alt="Logo de Asodavinci"
        loading="lazy"
      />
    </div>
    <include src="./src/views/detail/detail_footer.html"></include>
  </body>
</html>
