<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="../../styles/main.scss" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>El hombre de Vitruvio</title>
  </head>
  <body>
    <include src="./src/views/detail/detail_header.html"></include>
    <div class="detail-body">
      <h1>El hombre de Vitruvio</h1>
      <p>
        Se llama Hombre de Vitruvio a un dibujo elaborado por el pintor
        renacentista Leonardo da Vinci, basado en el trabajo del arquitecto
        romano Marco Vitruvio Polión. Sobre una superficie total de 34,4 cm x
        25,5 cm, Leonardo representa a un hombre con brazos y piernas extendidos
        en dos posiciones, enmarcado dentro de un cuadrado y un círculo.
      </p>
      <figure class="detail-figure">
        <picture>
          <source
            media="(max-width: 768px)"
            srcset="../../assets/images/hombre-vitruvio-mobile.jpg"
          />
          <source
            media="(min-width: 769px)"
            srcset="../../assets/images/hombre-vitruvio-desktop.jpg"
          />
          <img
            src="../../assets/images/hombre-vitruvio-desktop.jpg"
            class="detail-img"
            alt="El cuadro La Última Cena"
          />
        </picture>
        <figcaption class="detail-img-caption">
          El hombre de Vitruvio
        </figcaption>
      </figure>
      <p>
        El artista-científico presenta su estudio del “canon de las proporciones
        humanas”, el otro nombre con el que se conoce esta obra. Si la palabra
        canon significa “regla”, se entiende, pues, que Leonardo determinó en
        este trabajo las reglas que describen las proporciones del cuerpo
        humano, a partir de las cuales se juzga su armonía y belleza. Además de
        representar gráficamente las proporciones del cuerpo humano, Leonardo
        hizo anotaciones en escritura especular (que pueden ser leídas en el
        reflejo de un espejo). En dichas anotaciones, registra los criterios
        necesarios para representar la figura humana. La pregunta sería: ¿en qué
        consisten tales criterios? ¿En qué tradición se inscribe Leonardo da
        Vinci? ¿Qué aportó el pintor con este estudio?
      </p>
      <p>
        El esfuerzo por determinar las proporciones correctas para la
        representación del cuerpo humano tiene sus orígenes en la llamada Edad
        Antigua. Uno de los primeros proviene del Antiguo Egipto, donde se
        definía un canon de 18 puños para dar toda la extensión del cuerpo. En
        cambio, los griegos, y más tarde los romanos, idearon otros sistemas,
        los cuales tendían a un mayor naturalismo, tal como se puede observar en
        su escultura.
      </p>
      <p>
        En el Hombre de Vitruvio la figura humana está enmarcada en un círculo y
        un cuadrado. Esta representación corresponde a una descripción
        geométrica, de acuerdo con un artículo presentado por Ricardo Jorge
        Losardo y colaboradores en la Revista de la Asociación Médica Argentina
        (Vol. 128, Número 1 de 2015). En este artículo se sostiene que estas
        figuras tienen un importante contenido simbólico. Renacimiento Hemos de
        recordar que en el Renacimiento, al menos entre la élite, circulaba la
        idea del antropocentrismo, es decir, la idea de que el hombre era el
        centro del universo. En la ilustración de Leonardo, el círculo que
        enmarca a la figura humana se traza a partir del ombligo, y dentro de él
        se circunscribe toda la figura que toca sus bordes con manos y pies.
        Así, el hombre se vuelve el centro a partir del cual se traza la
        proporción. Aún más allá, el círculo puede ser visto, según Losardo y
        colaboradores como símbolo del movimiento, amén de conexión con el mundo
        espiritual.
      </p>
      <h2>Lo más importante:</h2>
      <ul class="detail-ul">
        <li>La figura representa las proporciones humanas perfectas.</li>
        <li>Esto ya se había hecho en la antigüedad.</li>
      </ul>
      <a href="../../categories.html">Volver al menú de sus obras</a>
      <p>En colaboración con:</p>
      <img
        srcset="
          ../../assets/images/logo_aelv_400w.png,
          ../../assets/images/logo_aelv_600w.png 1.5x,
          ../../assets/images/logo_aelv_800w.png 2x
        "
        src="../../assets/images/logo_aelv_800w.png"
        class="logo-img"
        alt="Logo de los Amigos de Europa Leonardo Da Vinci"
        loading="lazy"
      />
      <img
        srcset="
          ../../assets/images/asodavinci_400w.png,
          ../../assets/images/asodavinci_600w.png 1.5x,
          ../../assets/images/asodavinci_800w.png 2x
        "
        src="../../assets/images/asodavinci_800w.png"
        class="logo-img"
        alt="Logo de Asodavinci"
        loading="lazy"
      />
    </div>
    <include src="./src/views/detail/detail_footer.html"></include>
  </body>
</html>
